<app-user-header></app-user-header>
<nav class="navbar navbar-expand-lg bg-body-tertiary nav">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/userlist">Phone Book</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">Add</span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" routerLink="/userlist">Users List</a>
          <a class="nav-link" routerLink="/addresslist">Address List</a>
          <a class="nav-link" routerLink="/addinfo">Add New</a>
          <a class="nav-link" routerLink="/editinfo">Edit Data</a>
          <a class="nav-link" routerLink="/deleteinfo">Delete Data</a>
          <!-- <a class="nav-link" routerLink="/myadmin">Admin Panel</a> -->
        </div>
      </div>
    </div>
  </nav>